.tabla-1__input {
    color: brown;
}

.tabla-1__input--active {
    color: blueviolet;
}

.articulo-1__p {
    font-family: 'Courier New', Courier, monospace;
}

.articulo-1__p-h2 {
    font-size: 16px;
}

.articulo-2__p {
    color: black;
}

.articulo-2__p-h2 {
    border: 16px;
}

