body {
    background-color: #CFC;
    font-family: sans-serif;
    font-size: 16px;
    color: #00f;
}

.lista-1 {
    color: #060;
}

h1 {
    color: #f00;
}

h2 {
    color: #a00;
}

span {
    color: #000;
}